<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2 style="margin-left: 35px;">Guidelines</h3>
    <ol>
        <li>Select the degree template type from the dropdown.</li>
        <li>File Uploading Guidelines:
            <ol>
                <li>Excel file should not contain headers.</li>
                <li>The Data columns of the excel file should be:
                    <table style="border-collapse: collapse;">
                        <tr>
                            <td>Roll no</td>
                            <td>Name</td>
                            <td>Name Hindi</td>
                            <td>Discipline</td>
                            <td>Discipline Hindi</td>
                            <td>Minor/Spl./Thesis</td>
                            <td>Minor/Spl./Thesis Hindi</td>
                            <td>Completion Date</td>
                            <td>Completion Date Hindi</td>
                            <td>Award Date</td>
                            <td>Award Date Hindi</td>
                        </tr>
                    </table>
                </li>
                <li>Superscript and subscript values should be enclosed by &lt;sup&gt; superscript text here&lt;/sup&gt; and &lt;sub&gt;subscript text here</superscript>&lt;/sub&gt; respectively.</li>
                <li>Latex equations should be enclosed in \( equation text here \).</li>
                <li>The Data columns of the excel file should all be of TEXT type.</li>
            </ol>
        </li>
        <li>The application will generate certificate PDF in the same directory as the uploaded file.</li>
    </ol>
</body>
</html>